/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Poppins",sans-serif;

    background:#FAF8F5;

    color:#2E2E2E;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    cursor:pointer;

    border:none;

    border-radius:8px;

    transition:.3s;

}

img{

    display:block;

    max-width:100%;

}

.container{

    width:90%;

    max-width:1400px;

    margin:auto;

}